.login-wrap {
  justify-content: center;
  min-height: 111vh;
  display: flex;
}

.logo-container {
  margin-bottom: 1rem;
  margin-top: -3rem;
}

.logo {
  width: 100%;
  max-width: 25rem;
}

.title {
  margin-bottom: 2rem;
  margin-top: -4rem;
  margin-left: 3rem;
  color: rgb(255, 255, 255);
  background-color: rgba(192, 227, 240, 0.596);
  border-radius: 22px;
}

.text-slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(75, 228, 195, 0.801);
  border-radius: 22px;
  padding: 2rem;
  width: 24em;
  max-width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  position: relative;
}

.inputs-info {
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 1rem;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.button-eye {
  margin-top: 4rem;
  position: absolute;
  right: -8rem;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icon-eye:hover {
  color: var(--blue);
}

.submit {
  color: var(--white);
  background-color: var(--black);
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 1.5rem;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

.submit:hover {
  color: var(--white);
  background-color: var(--darkblue);
}

.error-message {
  color: var(--black);
  font-size: 0.9rem;
  font-weight: bolder;
  padding: 3px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.forgot-password,
.register-here {
    color: var(--white);
    margin-bottom: -0.5rem;
    font-size: 1rem;
    background-color: transparent;
    border:none;
}

.register-here {
    margin-bottom: 0.3rem;
}

.google-button,
.facebook-button {
    background-color: var(--white);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.google-button {
    margin-right: 0.5rem;
}

.google-img,
.facebook-img {
  width: 2rem;
  height: 2rem;
}

.errorLogar {
  color: var(--white);
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1rem;
}

@media screen and (max-width: 885px) {
  .rodape{
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .logo-container {
    width: auto;
    max-width: 38rem;
  }

  .login-wrap {
    flex-direction: column;
  }

  .left {
    padding: 3rem;
    justify-items: center;
    width: auto;
  }

  .right {
    justify-content: center;
    text-align: center;
    margin-top: 0;
    width: auto;
  }

  .title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 0rem;
  }

  .text-slogan {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .login-form {
    width: 24em;
  }

  .register-here,
  .forgot-password {
    font-size: 1.3rem;
  }

  .facebook-button,
  .google-button {
    width: 4em;
    height: 4em;
  }

  .button-eye {
    margin-top: 2.3rem;
    position: absolute;
    right: -2rem;
    transform: translate(25%, 30%);
  }
}
