.user-profile {
    padding: 1rem;
    background-color: #179fb49f;
  }
  
  .profile {
    width: 8rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.7rem;
    color: var(--timbergreen)
  }
  
  .profile-content {
    margin-bottom: 1rem;
    margin-top: 12rem;
  }
  
  .profile-actions {
    margin-top: -12rem;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
  }
  
  .return-btn,
  .logout-btn {
    width: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .return-btn:hover,
  .logout-btn:hover {
    opacity: 0.7;
  }
  
  a {
    text-decoration: none;
    color: var(--timbergreen);
    font-weight: bold;
    font-size: 1rem;
  }
  
 /* Responsivo */
@media screen and (max-width: 500px) {
    .profile-content {
      margin-top: 2rem;
    }
  
    .profile-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
    }
  
    .return-btn,
    .logout-btn {
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .profile {
      width: 6rem;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  }
  