@keyframes entering {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    display: grid;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
    grid-template-rows: auto auto 1fr;
    animation: entering 0.7s ease-in-out;
}


.left-timeline {
    grid-area: top;
    top: 3rem;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px #17322A);
    background-image: linear-gradient(var(--darkblue), 20%, var(--blue), var(--green));
    padding: 0.5em;
    border-radius: 0 0 10px 10px;
}


.img-timeline {
    grid-area: bottom;
    position: sticky;
    top: 100%;
    z-index: 2;
    width: 20em;
    margin-bottom: 0.4em;
}

.postTitle {
    font-weight: bold;
    color: var(--timbergreen);
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
}

.profilePhoto {
    width: 5em;
    border-radius: 50%;
}

.button-timeline {
    background-color: transparent;
    border: none;
    margin-right: 1em;
    margin-left: 1em;
}

.right-timeline,
.postList {
    grid-area: middle;
    position: sticky;
    bottom: 0;
    margin-top: 12em;
    background-color: transparent;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--easternblue);
}

.input-message {
    margin-top: 1em;
    min-height: 8em;
    border: none;
    text-align: center;
    word-wrap: break-word;
    resize: vertical;
    font-family: 'Inter', sans-serif;
    padding: 1.5em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0.8em;
    width: 100%;
    filter: drop-shadow(0 3px 3px var(--timbergreen));
}

.shareBtn {
    color: var(--timbergreen);
    background-color: var(--junglemist);
    width: 11em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder;
    letter-spacing: 0.08em;
    margin-top: 1em;
    font-size: 0.6em;
    text-shadow: -0.5px 0.5px 0 var(--timbergreen), 0.5px 0.5px 0 var(--timbergreen);
    font-family: 'Inter', Arial, sans-serif;
}

.post-container {
    margin: 2em;
    padding: 0.5em;
    width: 98%;
    background-color: var(--easternblue);
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
}

.nameUser {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.8em 0.8em 0 0;
    background-color: var(--junglemist);
    color: var(--timbergreen);
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(var(--darkblue), 20%, var(--blue), var(--green));
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: 0.07em;
}

.textPost {
    background-color: white;
    color: var(--timbergreen);
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    word-wrap: break-word;
    border-radius: 0 0 0.8em 0.8em;
    margin-bottom: 0.7em;
    filter: drop-shadow(0px 4px 4px #17322A);
    font-weight: bolder;
    font-size: 1rem;
}

.likePost {
    color: #17322A;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    align-items: center;
}

.icones {
    display: flex;
    justify-content: space-between;
    width: 9rem;
    margin: auto;
}

a {
    text-decoration: none;
}

.icons-post {
    background-color: var(--lightblue);
    border: none;
    width: 1.5em;
}

.icon-timeline:hover {
    background-color: var(--blue);
    border-radius: 0.8em;
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-areas: "left right";
        grid-template-columns: 0.7fr 1.3fr;
        grid-template-rows: 100vh;
        line-height: 1.5;
        font-size: 1.2em;
        background-image: linear-gradient(var(--darkblue), 20%, var(--blue), var(--green));
    }


    .left-timeline {
        grid-area: left;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: none;
        text-align: justify;
    }

    .icon-timeline {
        font-size: 0.9em;
        color: var(--white);
        width: 3em;
        margin: 1em 1em 0 1em;
    }

    .icons-post {
        width: 2em;
    }

    .icones {
        margin: 0;
    }

    .right-timeline,
    .postList {
        grid-area: right;
        overflow-y: scroll;
        border-left: solid var(--darkblue) 0.1em;
        box-shadow: inset 4px 0px 4px #17322A;
        z-index: 1;
        margin: 0.1em 0 1.5em 0;
    }

    .post-container {
        font-size: 0.8em;
    }

    .input-container {
        margin-top: 3em;
        margin-bottom: 4em;
    }


    .input-container,
    .post-container {
        padding: 1em;
        width: 80%;
    }
}
