:root {
    --easternblue: #179FB4;
    --junglemist: #B5D1D6;
    --timbergreen: #17322A;
    --greenpea: #165345; 
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  body {
    color: var(--timbergreen);
    font-family: "Inter", Arial, sans-serif;
    text-align: center;
    justify-content: center;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    text-align: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
  }
  
  footer {
    color: var(--timbergreen);
    background-color: var(--easternblue);
    padding: 1em;
    font-size: 0.7rem;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  
  footer a {
    color: var(--timbergreen);
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.8rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    letter-spacing: 0.09em;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .rodape {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  ::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: var(--easternblue);
    border: 0.1em solid var(--easternblue);
    border-radius: 0.3em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--junglemist);
    border: 0.1em solid var(--easternblue);
    border-radius: 0.3em;
}

  
  @media screen and (max-width: 768px) {
    body {
      background-image: url(images/background.png);
      background-image: no-repeat;
      background-size: cover;
    }
  
    footer {
      font-size: 0.8rem;
    }
  }
  